* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Pixels to REM -- Ejemplo: font-size: rem(16) */
.content-data-sheet {
  width: 73.125rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.content-data-sheet .title-data-sheet {
  font-size: 1.875rem;
  color: #021c69;
  text-align: center;
  line-height: 0.8;
  margin-bottom: 1.3125rem;
}

.content-data-sheet .text-data-sheet {
  font-size: 1rem;
  display: block;
  color: #000;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1.875rem;
}

.content-data-sheet .content-table {
  width: 100%;
  border: 0.125rem solid #aaa;
  margin-bottom: 1.875rem;
}

.content-data-sheet .content-table .title-table {
  background: #ecedee;
  padding: 0.5rem;
  border-bottom: 0.125rem solid #aaa;
}

.content-data-sheet .content-table .title-table .title {
  font-size: 1.25rem;
  margin-bottom: 0;
  font-weight: 700;
}

.content-data-sheet .content-table .table-data-sheet {
  margin: 0;
  border-bottom: 0.125rem dotted #aaa;
}

.content-data-sheet .content-table .table-data-sheet:last-child {
  border-bottom: 0;
}

.content-data-sheet .content-table .table-data-sheet .item-data {
  padding: 1rem 0.5rem;
  font-weight: 700;
}

.content-data-sheet .content-table .table-data-sheet .item-data .name-data {
  color: #aaa;
}

.content-data-sheet .content-table .table-data-sheet .item-data .description-data {
  color: #021c69;
}
