@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400,700')

h1, h2, h3, h4, h5, h6
  font-family: 'Work Sans', sans-serif
  margin: 0

h1, h2
  font-weight: 200
  display: block
h1
  font-size: 5.6em
h2
  font-size: 4.8em

h3, h4
  font-weight: 400
  display: inline-block
h3
  font-size: 3.6em
h4
  font-size: 2.8em

h5, h6
  font-weight: 700
  display: inline
h5
  font-size: 2em
h6
  font-size: 1.2em

p
  font-size: .9em
  font-weight: 400

span
  font-size: .8em
  font-weight: 400

ul
  li
    font-size: .9em
    a
      text-decoration: none
      &:hover
        color: $magenta
