.top,
.right,
.bottom,
.left
  background: $lighter-gray
  position: fixed

.top,
.bottom
  width: 100vw
  height: 20px

.top
  top: 0

.bottom
  bottom: 0

.right,
.left
  width: 20px
  height: 100vh

.right
  right: 0

.left
  left: 0
