header
  width: calc(100% - 40px)
  height: 12vh
  background: $black
  position: fixed
  top: 20px
  z-index: 1
  .logo, .nav
    width: 50%
    height: 100%
    display: inline-block
  .logo
    position: relative
    h1
      color: $white
      position: relative
      top: 50%
      transform: translateY(-50%)
  .nav
    float: right
    ul
      display: flex
      flex-wrap: nowrap
      position: relative
      top: 50%
      transform: translateY(-50%)
      li
        a
          padding: .8rem 1.2rem
          color: $white
          text-decoration: none
          &:hover
            color: $blue-5
