// HEADER
header

  // LOGO & NAV
  .upper-header, nav

  // LOGO
  .upper-header
    height: 36px

  // NAV
  nav
    width: 80%
    margin: 0 auto
    border-top: 2px solid #f4f4f4
    ul
      padding: 8px
      li
        display: inline-flex
        &:last-child
          border-right: 2px solid #f4f4f4
        a
          padding: 16px
          font-weight: 600
          &:hover
            text-decoration: none
