.langs
  position: fixed
  bottom: 80px
  right: 0
  z-index: 4
  .es, .en, .fr, .it
    background: $black
    color: $white
    padding: 16px
    cursor: pointer
    transition: all .4s ease
    &:hover
      background: $black
      color: $black
      width: 80px
      font-weight: 700
