// HTML
html
  // width
  ::-webkit-scrollbar
      width: 15px
  // Track
  ::-webkit-scrollbar-track
      background: $white
  // Handle
  ::-webkit-scrollbar-thumb
      background: $yellow
  // Handle on hover
  ::-webkit-scrollbar-thumb:hover
      background: $black
  // cursor
  cursor: crosshair

// BODY
body
  background: $lighter-gray

  // MAIN
  main

    // SECTION
    section
      margin: 15px 0
      overflow: hidden

      // TITLE, TEXT & IMAGES
      .title, .text, .images

      // TEXT & IMAGES
      .text, .images
        float: left

      // TITLE
      .title
        color: $black
        z-index: 10

        // TEXT
      .text
        width: 600px
        display: inline-block
        z-index: 8
        .text-container
          background: $yellow
          color: $black
          padding: 2rem
          h3
            margin-bottom: 2rem
          p
            margin: 0
            line-height: 1.6em

      // TITLE
      .images
        [class^="image-"]
          display: inline-flex
        .image-1
          z-index: 6
        .image-2
          z-index: 4
        .image-3
          z-index: 2
