#sprite
  width: 256px
  height: 168px
  display: block
  overflow: hidden
  position: relative
  background-image: url("../img/vector-ships.png")

  .sprite-change
    width: 100%
    height: 42px
    position: absolute

  #sprite-change-1
    top: 0
  #sprite-change-2
    top: 42px
  #sprite-change-3
    top: 84px
  #sprite-change-4
    top: 126px
